*.txt
*_tester
*_para
*.a
*.cnf
minisat
generate_puzzle
*Obj_mpicc*
*_old
*~
\#*\#
*.or
minisat_static
bin/*
depend.mk
*.out
*.csv
*.puz
.log
._*
*.aux
*.cb
*.log
*.nav
*.snm
*.pdf
*.toc
*.cb2
*.blg
*.fdb_latexmk
*.fls
*.tar.gz
nauty26r7/*g
*.gephi
local-mpi-script
mrmpi.kv.*
search_run*
nauty*/dreadnaut
nauty*/dretodot
nauty*/genbgL
nauty*/hamheuristic
nauty*/watercluster2
*#*
